<header>
    <a href="{{ path('premiere-page') }}">
        <img class="clestophe" src="{{ asset('img/logo-vecto-clestophe.png') }}" alt="logo-clestophe">
    </a>
    <a href="{{ path("premiere-page") }}">
        <img class="acces" src="{{ asset('img/logo-acces-sit-hd.png') }}" alt="logo-acces">
    </a>
    <nav>
        <ul class="uls">
            <li>planning commande
                <ul>
                    <li class="lis"><a href="{{ path('consultation-planning') }}">Consulter le planning</a></li>
                    <li class="lis"><a href="{{ path('listes-commandes') }}">Listes des commandes</a></li>
                    <li class="lis"><a href="{{ path('planifier-une-commande') }}">Planifier une commandes</a></li>
                </ul>
            </li>
            <li>planning tâches et acteurs
                <ul>
                    <li class="lis"><a href="{{ path('consultation-taches') }}">Consulter le planning par tâches</a></li>
                    <li class="lis"><a href="{{ path('consultation-acteurs') }}">Consulter le planning par acteurs</a></li>
                    <li class="lis"><a href="{{ path('saisis-temps') }}">Saisie des temps et récapitulatif par CAT</a></li>
                </ul>
            {#<li>planning livraison / enlèvements#}
                {#<ul>#}
                    {#<li class="lis"><a href="#">Consulter le planning livraison</a></li>#}
                    {#<li class="lis"><a href="#">Enregistrer une demande</a></li>#}
                {#</ul>#}
            {#</li>#}
        </ul>
    </nav>
</header>

