<header>
    <a href="{{ path('premiere-page') }}">
        <img class="clestophe" src="{{ asset('img-layout/logo-vecto-clestophe.png') }}" alt="logo-clestophe">
    </a>
    <a href="{{ path("premiere-page") }}">
        <img class="acces" src="{{ asset('img-layout/logo acces-sit-hd.png') }}" alt="logo-acces">
    </a>
    <nav>
        <ul class="uls">
            <li>planning atelier
                <ul>
                    <a href="{{ path('consultation-planning') }}"><li class="lis">Consulter le planning</li></a>
                    <a href="#"><li class="lis">Listes des commandes</li></a>
                    <a href="{{ path('planifier-une-commande') }}"><li class="lis">Planifier une commandes</li></a>
                    <a href="#"><li class="lis">Afficher le statut d'une commande</li></a>
                </ul>
            </li>
            <li>planning tâches et acteurs
                <ul>
                    <a href="#"><li class="lis">Consulter le planning par tâches</li></a>
                    <a href="#"><li class="lis">Consulter le planning par acteurs</li></a>
                    <a href="#"><li class="lis">Gestion des acteurs</li></a>
                    <a href="#"><li class="lis">Saisie des temps</li></a>
                    <a href="#"><li class="lis">Récapitulatif par CAT</li></a>
                </ul>
            <li>planning livraison / enlèvements
                <ul>
                    <a href="#"><li class="lis">Consulter le planning livraison</li></a>
                    <a href="#"><li class="lis">Enregistrer une demande</li></a>
                </ul>
            </li>
        </ul>
    </nav>
</header>

