<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Commande (n°CAT)</th>
                            <th>Client</th>
                            <th>Statut</th>
                            <th>Enregistré le</th>
                            <th>Date départ atelier souhaiter</th>
                            <th>Date de fin de fabrication planifiée</th>
                            <th>Date de fin de fabrication réelle</th>
                            <th>hhh</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commande in commandes %}
                            {% if commande.status == 'Non planifié' %}
                            
                            <tr>
                                <td>
                                    {{ commande.documentNumber }}
                                    <a href="{{ path('details-commandes', {'id': commande.id }) }}">
                                        
                                    </a>
                                </td>
                                <td>
                                    {% if commande.statusBis is not null %}
                                        {{ commande.customerName }} <img style="width: 6%; display: block;margin: 0 auto;" class="delete-img" src="{{ asset('img/hourglass_blue.png') }}" alt="">
                                    {% else %}
                                        {{ commande.customerName }}
                                    {% endif %}
                                </td>
                                <td>{{ commande.status }}</td>
                                <td>{{ commande.documentDate|date('d/m/y') }}</td>
                                <td>{{ commande.documentWishDate|date('d/m/y') }}</td>
                                <td>
                                    {% if commande.endDate is not null %}
                                        {{ commande.endDate|date('d/m/y') }}
                                    {% else %}
                                        Non-défini
                                    {% endif %}
                                </td>
                                <td>
                                    {% if commande.documentEndDateFabric is not null %}
                                        {{ commande.documentEndDateFabric|date('d/m/y') }}
                                    {% else %}
                                        Non-défini
                                    {% endif %}
                                </td>
                                <td ><a href="{{ path('detail_commande', {'id' : commande.documentNumber})}}"><i  data-toggle="collapse" data-target="#{{ commande.documentNumber }}" class="accordion-toggle fa fa-edit fa-fw" ></i></a></td>
                            </tr>
                            {%endif%}
                        {% endfor %} 
  
                    </tbody>
                </table>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- End Tables -->
{% block javascripts %}
    <script>
        $(document).ready(function() {
       $('#dataTables-example').DataTable({
           responsive: true
       });
   });
   
   $('.accordian-body').on('show.bs.collapse', function () {
    $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        .collapse('toggle')
})
    </script>
{% endblock %}  