{{ form_start(form) }}
{#<div class="form-group">#}
    {#{{ form_widget(form.search, { 'attr': {'class': 'form-control'} }) }}#}
    {#{{ form_widget(form.send, { 'attr': {'class': 'btn btn-default'} }) }}#}
{#</div>#}

{#{{ form_rest(form) }}#}
{{ form_end(form) }}