{% extends 'theme_admin_2.html.twig' %}

{% block body %}
<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
    <h1>Planning</h1>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            
            <tr>
                <th>Command Number</th>
                <td>{% if planning.saledocumentLine %}{{ planning.saledocumentLine }}{% endif %}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if planning.startDate %}{{ planning.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ planning.duration }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if planning.endDate %}{{ planning.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ planning.comment }}</td>
            </tr>
            <tr>
                <th>Task</th>
                <td>{{ planning.task }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('planning_index') }}"><button type="button" class="btn btn-primary">Retour à la liste </button></a>
        </li>
        <li>
            <a href="{{ path('planning_edit', { 'id': planning.id }) }}"><button type="button" class="btn btn-primary">Modifier </button></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
