{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
    {#<meta charset="UTF-8">#}
    {#<meta name="viewport"#}
          {#content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
    {#<meta http-equiv="X-UA-Compatible" content="ie=edge">#}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('img-layout/logo-vecto-clestophe.png') }}" />#}
{#</head>#}
{#<body>#}

{#</body>#}
{#</html>#}
{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}


{% block body %}
    {% include '@FullCalendar/Calendar/calendar.html.twig' %}
{% endblock %}

{% block footer %}
    {% include "partials/_footer.html.twig" %}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/screen.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/planning/js/fullcalendar.default-settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js')}}"></script>
{% endblock %}