{% extends "base.html.twig" %}
{% block body %}
    <main id="mainselected">
        <section class="planif-button-h2">
            <h2>Consulter le planning par tâches : </h2>
            <select name="" id="selectTask" title="">
                {% for task in tasks  %}
                    <option value="{{ task.id }}">{{ task.name }}</option>
                {% endfor %}
            </select>
        </section>
    </main>

    {% include '@FullCalendar/Calendar/calendar.html.twig' %}

{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/screen.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    {% endblock %}


    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planning/js/fullcalendar.default-settings.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js')}}"></script>
        <script type="text/javascript">
            $(function () {
                var $$selectTask = document.getElementById('selectTask');
                var task = $$selectTask.value;
                $$calendarHolder.fullCalendar('addEventSource',
                    {
                        url: '/app_dev.php/load-planning',
                        type: 'GET',
                        data: {planning: 'TASK', task: task},
                        error: function () {
                        }
                    }
                );
                $$selectTask.addEventListener('change', function () {
                    let task = this.value;
                    $$calendarHolder.fullCalendar('removeEventSources');
                    $$calendarHolder.fullCalendar('addEventSource',
                        {
                            url: '/app_dev.php/load-planning',
                            type: 'GET',
                            data: {planning: 'TASK', task: task},
                            error: function () {
                            }
                        }
                    );
                });
            });
        </script>
    {% endblock %}
