{% extends "base.html.twig" %}
{% block body %}
    <section id="section-details-commandes">
        <div class="details-button-h2">
            <h2>Détails de la commandes
                {{ saledocument.documentNumber }}
            </h2>
            <form>
                <input class="button-page" type="button" value="Retour à la page précedente" onclick="history.go(-1)">
            </form>
        </div>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th>Réference article</th>
                <th>Description article</th>
                <th>Quantité</th>
                <th>Date départ atelier souhaiter</th>
                <th>Action</th>
                <th>Statut</th>
                <th>Fin de fabrication</th>
                <th>Commentaire</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            {% for detail in saledocument.saleDocumentLines %}
                <tr class="trgrey">
                    <td class="tbodytd">{{ detail.item.id }}</td>
                    <td>{{ detail.description}}</td>
                    <td>{{ detail.quantity|number_format }}</td>
                    <td>{{ detail.deliverydate|date('d-m-y') }}</td>
                    <td>
                        <a href="{{ path('planification-produits', {'id': detail.id}) }}">
                            <img style="width: 10%" class="edit-img" src="{{ asset('img/logo-edit.png') }}" alt="">
                        </a>
                    </td>
                    <td class="plan">{{ detail.status }}</td>
                    <td></td>
                    {#<td>{{ detail.planif.endDate|date }}</td>#}
                    <td>{{ detail.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ path('planifier-une-commande') }}">
            <div class="valid">
                <button class="button-val" >valider</button>
            </div>
        </form>
    </section>
{% endblock %}
