{% extends "base.html.twig" %}
{% block body %}
    <section id="main-planification-commande">
        <h2>Listes des commandes </h2>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th colspan="3px">Commande (n°CAT)</th>
                <th class="ths" colspan="3px">Status</th>
                <th class="ths" colspan="3px" >Date départ atelier souhaiter</th>
                <th class="ths" colspan="3px" >Date planifié</th>
                <th class="ths" colspan="3px" >Date fin de fabrication</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            {% for commande in commandes %}
                {# TODO: if current date - docDate < 6M #}
                <tr class="trgrey">
                    <td class="tbodytd" colspan="3px">
                        CAT{{ commande.documentNumber }}
                        <a href="">
                            <img class="edit-img" src="{{ asset('img-layout/logo-edit.png') }}" alt="">
                        </a>
                    </td>
                    <td colspan="3px">{{ commande.status }}</td>
                    <td colspan="3px">{{ commande.documentDate|date('Y/m/d') }}</td>
                    <td colspan="3px">{{ commande.documentWishDate|date('Y/m/d') }}</td>
                    <td colspan="3px">{{ commande.documentValidDate|date('Y/m/d') }}</td>
                </tr>
                {# TODO: endif #}
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
