{% extends "base.html.twig" %}
{% block body %}
    <section id="main-planification-commande">
        <h2>Listes des commandes </h2>
        <table>
            <div class="navigation list-pag">
                {{ knp_pagination_render(pagination) }}
            </div>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th colspan="3px">Commande (n°CAT)</th>
                <th class="ths customer-name" colspan="3px">Client</th>
                <th class="ths" colspan="3px">Statut</th>
                <th class="ths" colspan="3px">Date départ atelier souhaiter</th>
                <th class="ths" colspan="3px">Date planifié</th>
                <th class="ths" colspan="3px">Date fin de fabrication</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            {% for commande in pagination %}
                <tr class="trgrey">
                    <td class="tbodytd" colspan="3px">
                        {{ commande.documentNumber }}
                    </td>
                    <td colspan="3px" class="customer-name">{{ commande.customerName }}</td>
                    <td colspan="3px">Non planifié</td>
                    <td colspan="3px">{{ commande.documentWishDate|date('d/m/y') }}</td>
                    <td colspan="3px"></td>
                    <td colspan="3px"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation list-pag">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}
