{% extends "base.html.twig" %}
{% block body %}
    <section id="planif-produits">
        <div class="entete">
            <h2>planifier un produit</h2>
            <form>
                <input class="button-page" type="button" value="Retour à la page précedente" onclick="history.go(-1)">
            </form>
        </div>
        <div class="pp">
            <p>détail de la {{ saledocumentline.saledocument.documentNumber }}</p>
        </div>
        <span class="span-item-sale">
            <p>Ref : {{ saledocumentline.item.id}}</p>
            <p>{{ saledocumentline.description }}</p>
            <p>Quantité : {{ saledocumentline.quantity }}</p>
        </span>

        <div class="detail_container">
            <ul class="tabs">
                <li class="active" rel="tab1">Dessin</li>
                <li rel="tab2">Menuiserie</li>
                <li rel="tab3">Mousse</li>
                <li rel="tab4">Coupe</li>
                <li rel="tab5">Couture</li>
                <li rel="tab6">Grosse Couture</li>
                <li rel="tab7">Soudure</li>
                <li rel="tab8">Garnissage</li>
                <li rel="tab9">Emballage</li>
            </ul>
            <div class="tab_container">
                {#<h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>#}
                <div id="tab1" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                        <p>Temps prévisionel de planification couture dessin : </p>
                        <input class="time" type="time">
                        <input class="subm" type="submit" value="Valider">
                    </div>
                    </form>
                </div>
                {#<h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>#}
                <div id="tab2" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification menuiserie : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
                {#<h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>#}
                <div id="tab3" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification mousse : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
                {#<h3 class="tab_drawer_heading" rel="tab4">Tab 4</h3>#}
                <div id="tab4" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification coupe : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
                <div id="tab5" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification couture : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
                <div id="tab6" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification grosse couture : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
                <div id="tab7" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification soudure : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
                <div id="tab8" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification garnissage : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
                <div id="tab9" class="tab_content">
                    <form action="">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification emballage : </p>
                            <input class="time" type="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="area">
            <label for="comment">Commentaire :</label>
            <textarea name="" id="" cols="60" rows="5"></textarea>
        </div>
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </section>
{% endblock %}