{% extends "base.html.twig" %}
{% block body %}
    <main id="main-planification-commande">
        <h2>Listes et état des commandes </h2>
        <button class="ebp">Import EBP</button>
        <button>
            <a href="{{ path('security_logout') }}">Deconnexion</a>
        </button>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th colspan="3px">Commande (n°CAT)</th>
                <th class="ths" colspan="3px">Status</th>
                <th class="ths" colspan="3px" >Enregistré le</th>
                <th class="ths" colspan="3px" >Date départ atelier souhaiter</th>
                <th class="ths" colspan="3px" >Date validée</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            {#{% for commande in commandes %}#}
                {# TODO: if current date - docDate < 6M #}
                <tr class="trgrey">
                    <td class="tbodytd" colspan="3px">
                        {{ commandes.documentnumber }}
                        <a href="">
                            <img class="edit-img" src="{{ asset('img-layout/logo-edit.png') }}" alt="">
                        </a>
                    </td>
                    <td colspan="3px"></td>
                    <td colspan="3px">{{ commandes.documentdate|date('Y/m/d') }}</td>
                    <td colspan="3px">{{ commandes.deliverydate|date('Y/m/d') }}</td>
                    <td colspan="3px"></td>
                </tr>
                {# TODO: endif #}
            {#{% endfor %}#}
            </tbody>
        </table>
    </main>

{% endblock %}
