{% extends "base.html.twig" %}
{% block body %}
    <main id="main-planification-commande">
        <div class="planif-button-h2">
            <h2>Listes et état des commandes </h2>
            <button class="ebp2">
                <a href="{{ path('security_logout') }}">Deconnexion</a>
            </button>
        </div>
        <div class="pag-plan">
            <button class="ebp">Import EBP</button>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th colspan="3px">Commande (n°CAT)</th>
                <td class="ths" colspan="3px"><strong>Client</strong></td>
                <th class="ths" colspan="3px">Statut</th>
                <th class="ths" colspan="3px" >Enregistré le</th>
                <th class="ths" colspan="2px">Date départ atelier souhaiter</th>
                <th class="ths" colspan="3px" >Date validée</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            {% for commande in pagination %}
                <tr class="trgrey">
                    <td class="tbodytd" colspan="3px">
                        {{ commande.documentNumber }}
                        <a href="{{ path('details-commandes', {'id': commande.id }) }}">
                            <img class="edit-img" src="{{ asset('img-layout/logo-edit.png') }}" alt="">
                        </a>
                    </td>
                    <td colspan="3px">{{ commande.customerName }}</td>
                    <td colspan="3px">Non planifié</td>
                    <td colspan="3px">{{ commande.documentDate|date('d/m/y') }}</td>
                    <td colspan="2px">{{ commande.documentWishDate|date('d/m/y') }}</td>
                    <td colspan="3px"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation nav-pag">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>

{% endblock %}
