{% extends "base.html.twig" %}
{% block body %}
    <section id="planif-produits">
        <div class="entete">
            <h2>planifier un produit</h2>
            <form>
                <input class="button-page" type="button" value="Retour à la page précedente" onclick="history.go(-1)">
            </form>
        </div>
        <div class="pp">
            <p>détail de la {{ saledocumentline.saledocument.documentNumber }}</p>
        </div>
        <span class="span-item-sale">
            <p>Ref : {{ saledocumentline.item.id}}</p>
            <p>{{ saledocumentline.description }}</p>
            <p>Quantité : {{ saledocumentline.quantity }}</p>
        </span>

        <div class="detail_container">
            <ul class="tabs">
                {% for competence  in competences %}
                    <li rel="tab" data-skill="{{ competence.id }}">{{ competence.name }}</li>
                {% endfor %}
            </ul>
            {% for competence  in competences %}
            <div class="tab_container" data-skill="{{ competence.id }}">
                <div id="tab" class="tab_content">
                    <form action="{{ path('get_actor') }}">
                        <div class="tab_content_container tabo">
                            <p>Temps prévisionel de planification : </p>
                            <input class="skill" type="hidden" name="skill" value="{{ competence.id }}">
                            <input class="time" type="time" name="time">
                            <input class="subm" type="submit" value="Valider">
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
            <div class="area">
                <div class="lab-area">
                    <label for="comment">Commentaire :</label>
                    <textarea name="" id="" cols="60" rows="5"></textarea>
                </div>
            </div>

            <div style="width: 100%; text-align: right;">
                <input style="background: hotpink" type="submit" value="Valider">
            </div>
            {% block javascripts %}
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            {% endblock %}
    </section>
{% endblock %}