{% extends "base.html.twig" %}
{% block body %}
    <main id="main-planification-commande">
        <div class="planif-button-h2">
            <h2>Listes et état des commandes </h2>
                <button class="six col" id="valide-time">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a id="button-8" class="buttonn" href="{{ path('security_logout') }}">Déconnexion</a>
                    {% endif %}
                </button>
        </div>
        <div class="navigation nav-pag">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th class="ths">Commande (n°CAT)</th>
                <th class="ths">Client</th>
                <th class="ths">Statut</th>
                <th class="ths">Enregistré le</th>
                <th class="ths">Date départ atelier souhaiter</th>
                <th class="ths">Date de fin de fabrication planifiée</th>
                <th class="ths">Date de fin de fabrication réelle</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            {% for commande in pagination %}
                <tr class="trgrey">
                    <td>
                        {{ commande.documentNumber }}
                        <a href="{{ path('details-commandes', {'id': commande.id }) }}">
                            <img class="edit-img" src="{{ asset('img/logo-edit.png') }}" alt="">
                        </a>
                    </td>
                    <td>{{ commande.customerName }}</td>
                    <td>
                        {% if commande.statusBis is not null %}
                            {{ commande.status }} [logo]
                        {% else %}
                            {{ commande.status }}
                        {% endif %}
                    </td>
                    <td>{{ commande.documentDate|date('d/m/y') }}</td>
                    <td>{{ commande.documentWishDate|date('d/m/y') }}</td>
                    <td>
                        {% if commande.endDate is not null %}
                            {{ commande.endDate|date('d/m/y') }}
                        {% else %}
                            Non-défini
                        {% endif %}
                    </td>
                    <td>
                        {% if commande.documentEndDateFabric is not null %}
                            {{ commande.documentEndDateFabric|date('d/m/y') }}
                        {% else %}
                            Non-défini
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation nav-pag">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>

    {% block javascripts %}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="{{ asset('js/search.js') }}" ></script>
        <script type="text/javascript">
            (function(){
                var $content = $('.modal_info').detach();

                $('.open_button').on('click', function(e){
                    modal.open({
                        content: $content,
                        width: 540,
                        height: 270,
                    });
                    $content.addClass('modal_content');
                    $('.modal, .modal_overlay').addClass('display');
                    $('.open_button').addClass('load');
                });
            }());

            var modal = (function(){

                var $close = $('<button role="button" class="modal_close" title="Close"><span></span></button>');
                var $content = $('<div class="modal_content"/>');
                var $modal = $('<div class="modal"/>');
                var $window = $(window);

                $modal.append($content, $close);

                $close.on('click', function(e){
                    $('.modal, .modal_overlay').addClass('conceal');
                    $('.modal, .modal_overlay').removeClass('display');
                    $('.open_button').removeClass('load');
                    e.preventDefault();
                    modal.close();
                });

                return {
                    center: function(){
                        var top = Math.max($window.height() - $modal.outerHeight(), 0) / 2;
                        var left = Math.max($window.width() - $modal.outerWidth(), 0) / 2;
                        $modal.css({
                            top: top + $window.scrollTop(),
                            left: left + $window.scrollLeft(),
                        });
                    },
                    open: function(settings){
                        $content.empty().append(settings.content);

                        $modal.css({
                            width: settings.width || 'auto',
                            height: settings.height || 'auto'
                        }).appendTo('body');

                        modal.center();
                        $(window).on('resize', modal.center);
                    },
                    close: function(){
                        $content.empty();
                        $modal.detach();
                        $(window).off('resize', modal.center);
                    }
                };
            }());
        </script>

{% endblock %}

{% endblock %}
