{% extends "base.html.twig" %}
{% block body %}
    <section id="planif-produits">
        <div class="entete">
            <h2>planifier un produit</h2>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <form class="entete__form">
                <input class="button-page" type="button" value="Retour à la page précedente" onclick="history.go(-1)">
            </form>
        </div>
        <div class="pp">
            <p>détail de la {{ saledocumentline.saledocument.documentNumber }}</p>
        </div>
        <span class="span-item-sale">
            <p>Ref : {{ saledocumentline.item.id}}</p>
            <p>{{ saledocumentline.description }}</p>
            <p>Quantité : {{ saledocumentline.quantity }}</p>
        </span>

        <div class="detail_container">
            <ul class="tabs">
                {% for competence in competences %}
                    <li rel="tab" data-skill="{{ competence.id }}">{{ competence.name }}</li>
                {% endfor %}
            </ul>
            <div class="tab_container" data-skill="0"></div>
        </div>
        <div id="tab" class="tab_content">
            <form action="{{ path('set_plannification') }}">
                <div class="tab_content_container tabo">
                    <div class="tab__content-time">
                        <p class="tab_content_container-para">Temps prévisionel de planification : </p>
                        <input class="skill" type="hidden" name="skill" value="1">
                        <input class="time" type="time" name="time" required>
                        <button id="valide-time">Validez votre temps</button>
                    </div>
                    <input class="time" type="hidden" name="saleDocLine" value="{{ saledocumentline.id }}">
                    {#<div class="label-date">#}
                    {#<label for="">Date de Planification</label>#}
                    {#<input class="time" type="date" name="datePlanif">#}
                    {#</div>#}
                    <div class="label-date">
                        <label for="">Date de début</label>
                        <input class="time" type="date" name="dateStart">
                    </div>
                    <div class="label-date">
                        <label for="">Date de fin</label>
                        <input class="time" type="date" name="dateEnd">
                    </div>
                </div>
                <div class="tab_content__container-area">
                    <div id="actor"></div>
                </div>
                <div class="button__subm-form">
                    <div class="tab__content_label">
                        <input type="checkbox">
                        <label for="">Mettre en attente</label>
                    </div>
                    <input class="subm" type="submit" value="Valider">
                </div>
            </form>
        </div>

        <form action="{{ path('set_plannificationtotal') }}">
            <div class="planif-produits-comments">
                <textarea name="comment" id="" cols="70" rows="6"  placeholder="Saissisez votre commentaire"></textarea>
            </div>
            <div class="planif-produits-validate button__subm-form">
                <input class="subm" type="submit" value="Valider la planification">
                <input class="time" type="hidden" name="saleDocLine" value="{{ saledocumentline.id }}">
            </div>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
    <script type="text/javascript">

        $(function () {

            const $bb = document.getElementById('valide-time');
            const $actor = document.getElementById('actor');
            const $skill = document.querySelector('li.active');

            // console.log($skill.getAttribute("data-skill"));
            $bb.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                // console.log("ok");
                $.ajax({
                    url: "{{ app.request.getSchemeAndHttpHost() ~ path('get_actor') }}",
                    method: "GET",
                }).done( function( datas ) {
                    data = JSON.parse(datas);
                    const $selectActor = document.createElement("SELECT");
                    console.log($selectActor);
                    $selectActor.setAttribute('name',"actor");

                    for ( let i = 0; i < data.length; i++ ) {

                        let $opt = document.createElement("OPTION");
                        $opt.setAttribute('value',data[i].id);

                        let t = document.createTextNode(data[i].name);
                        $opt.appendChild(t);
                        $selectActor.appendChild($opt)
                    }
                    $actor.appendChild($selectActor);
                    // Create a <p> element
                });
            });
        })
    </script>
{% endblock %}