{% extends "base.html.twig" %}
{% block body %}
    <section id="planif-produits">
        <div class="entete">
            <h2>planifier un produit</h2>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
            <input class="subm buttonn" type="button" id="button-8" value="Retour à la page précedente" onclick="history.go(-1)">
        </div>
        <div class="pp">
            <p>détail de la {{ saledocumentline.saledocument.documentNumber }}</p>
        </div>
        <span class="span-item-sale">
            <p>Ref : {{ saledocumentline.item.id}}</p>
            <p>{{ saledocumentline.description }}</p>
            <p>Quantité : {{ saledocumentline.quantity }}</p>
        </span>

        <div class="detail_container">
            <ul class="tabs">
                {% for competence in competences %}
                    <li rel="tab" data-skill="{{ competence.id }}">{{ competence.name }}</li>
                {% endfor %}
            </ul>
            <div class="tab_container" data-skill="0"></div>
        </div>
        <div id="tab" class="tab_content">
            <form action="{{ path('set_plannification') }}">
                <div class="tab_content_container tabo">
                    <div class="tab__content-time">
                        <p class="tab_content_container-para">Temps prévisionel de planification : </p>
                        <div class="tab_content-timechoice">
                            <input class="skill" type="hidden" name="skill" value="1">
                            <input class="time" type="time" name="time" required title="">
                            <button class="six col col-time" id="valide-time">
                                <input class="subm buttonn" type="submit" id="button-8" value="Valider">
                            </button>
                            <button class="six col col-time" id="">
                                <input class="subm buttonn last-task" type="submit" id="button-8" value="Passez à la dernière étape">
                            </button>
                        </div>
                    </div>

                    <input class="saledoclineid" type="hidden" name="saleDocLine" value="{{ saledocumentline.id }}">
                    <div class="demo-section k-content form-group-global">
                        <div class="form-group">
                            <label for="date">Date de début :</label>
                            <div class="input-group date" style="width: 100%">
                                <input id="start" style="width: 100%;" type="hidden" name="dateStart" placeholder="Sélectionne une date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date" class="control-label">Date de fin :</label>
                            <div class="input-group date" style="width: 100%">
                                <input id="end" style="width: 100%;" type="hidden" name="dateEnd" placeholder="Sélectionne une date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab_content__container-area">
                    <div id="actor"></div>
                </div>
                <div class="button__subm-form">
                    <div class="tab__content_label">
                        <label for="check">
                            Mettre en attente
                            <input type="checkbox">
                        </label>
                    </div>
                    <div class="container__submit">
                        <input class="subm buttonn" type="button" id="button-8" value="Ignorer">
                        <input class="subm buttonn valider-soustache" type="submit" id="button-8" value="Valider">
                    </div>
                </div>
            </form>

        </div>

        <form action="{{ path('set_plannificationtotal') }}">
            <div class="planif-produits-comments">
                <textarea name="comment" id="" cols="70" rows="6"  placeholder="Saissisez votre commentaire"></textarea>
                <a href="#openModal" class="subm buttonn" id="button-8">Voir les tâches enregistrées</a>
                <div id="openModal" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">&times;</a>
                            <h2>Listes des tâches enregistrées</h2>
                        <div class="openModal__content">
                            <span>{{ saledocumentline.saledocument.documentNumber }}</span>
                            <span>Reference Article : {{ saledocumentline.item.id}} </span>
                            <a href="#">Modifier</a>
                        </div>

                    </div>
                </div>
            </div>

            {% if saledocumentline.saledocument.status != "Planifié"%}
            <div class="planif-produits-validate button__subm-form">
                <input class="subm buttonn" type="submit" id="button-8" value="Valider la planification">
                <input class="time buttonn" type="hidden" name="saleDocLine" value="{{ saledocumentline.id }}">
            </div>
            {% endif %}
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('js/datePicker.js') }}"></script>#}
    <script src="http://kendo.cdn.telerik.com/2018.2.620/js/cultures/kendo.culture.fr-FR.min.js"></script>
    <script type="text/javascript">

        $(function () {
            const $bb = document.getElementById('valide-time');
            const $actor = document.getElementById('actor');
            const $skill = document.querySelector('li.active');
            const $inputskill = document.querySelector('input.skill');
            const $inputTime = document.querySelector('input.time');
            const $inputStart = document.querySelector('input#start');
            const $inputEnd = document.querySelector('input#end');
            var $inputactor = null;
            const $inputValider = document.querySelector("input.valider-soustache[value='Valider']");
            const $bbValiderPlanif = document.querySelector(".planif-produits-validate");
            const $inputIgnorer = document.querySelector("input[value='Ignorer']");
            const li_skill = $("ul.tabs li");
            const $saledocumentlineid = "{{ saledocumentline.id }}";
            const $lastTask = document.querySelector('.last-task');

            var skilltab = [];
            for (let i = 0; i < li_skill.length; i++) {
                let data_skill = li_skill.get(i).getAttribute("data-skill");
                skilltab.push(data_skill);
            }
            $inputIgnorer.style.visibility = "hidden";

            $.ajax({
                url: "{{ path('set_plannification_check_skill') }}",
                method: "POST",
                data: {
                    saledocumentlineid : $saledocumentlineid,
                    dataSkills : skilltab
                }
            })
                .done( function( datas ) {
                    datas = parseInt(datas);
                    for (let i = 0; i < li_skill.length; i++) {
                        if (li_skill.get(i).classList.contains("active")) {
                            li_skill.get(i).classList.remove("active");
                            break
                        }
                    }
                    if (li_skill.length === datas) {
                        datas -= 1;
                        if ($bbValiderPlanif) {

                        $bbValiderPlanif.style.visibility = "visible";
                        }
                        $inputValider.style.visibility = "hidden";
                        $inputIgnorer.style.visibility = "hidden";
                    }else if((li_skill.length - 1) === datas) {
                        $inputIgnorer.style.visibility = "hidden";
                    }else {
                        $inputIgnorer.style.visibility = "visible";
                    }

                    let data_skill = li_skill.get(datas).getAttribute("data-skill");
                    $inputskill.setAttribute("value", data_skill);
                    li_skill.get(datas).classList.add("active");

                    console.log(datas);
                });

            $lastTask.addEventListener('click', function (event) {
                event.preventDefault();
                const liLastSkill = li_skill.length-1;
                console.log(li_skill);
                console.log(li_skill.get(0));
                let itmp = null;
                for ( let i = 0 ; i < li_skill.length - 1; i++) {
                    if (li_skill.get(i).classList.contains('active')) {
                        itmp = i;
                        break
                    }
                }
                for ( let i = itmp ; i < li_skill.length - 1; i++) {
                    if (li_skill.get(i).classList.contains('active')) {
                        li_skill.get(i).classList.remove('active');
                    }
                    let data_skillValue = li_skill.get(i).getAttribute("data-skill");
                    $inputskill.setAttribute("value", data_skillValue);
                    let dataSkill = $inputskill.getAttribute('value');
                    let actor = null;
                    let dateStart = null;
                    let dateEnd = null;
                    let timePrev = null;

                    $.ajax({
                        url: "{{ path('set_plannification') }}",
                        method: "POST",
                        data: {
                            saledocumentlineid: $saledocumentlineid,
                            dataSkill: dataSkill,
                            actor: actor,
                            dateStart: dateStart,
                            dateEnd: dateEnd,
                            timePrev: timePrev,
                            status: "ignorer"
                        }
                    })
                }
                li_skill.get(liLastSkill).classList.add('active');
                let data_skill = li_skill.get(liLastSkill).getAttribute("data-skill");
                $inputskill.setAttribute("value", data_skill);
                $inputIgnorer.style.visibility = "hidden";
            });
            $inputValider.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                let dataSkill = $inputskill.getAttribute('value');
                if ($inputactor) {
                let actor = $inputactor.value;
                }
                let dateStart = $inputStart.value;
                let dateEnd = $inputEnd.value;
                let timePrev = $inputTime.value;
                console.log($inputactor);
                if ($inputactor == null){
                    swal({
                        title: "Votre temps n'est pas validé"
                    });
                }else{
                    let actor = $inputactor.value;
                $.ajax({
                    url: "{{ path('set_plannification') }}",
                    method: "POST",
                    data: {
                        saledocumentlineid : $saledocumentlineid,
                        dataSkill : dataSkill ,
                        actor : actor ,
                        dateStart : dateStart ,
                        dateEnd : dateEnd ,
                        timePrev : timePrev ,
                        status : "valider"
                    }
                })
                    .done( function ( datas ) {
                        swal({
                            icon: "success",
                            title: datas,
                            timer: 3000,
                            button: false
                            // timer: "2000"
                        });
                        $inputactor.parentNode.removeChild($inputactor);
                        $inputTime.value = "--:--";
                        $inputactor = null;
                        for(let i = 0; i < li_skill.length; i++){
                            if(li_skill.get(i).classList.contains("active")){
                                li_skill.get(i).classList.remove("active");
                                if(i === li_skill.length - 1){

                                li_skill.get(i).classList.add("active");
                                let data_skill = li_skill.get(i).getAttribute("data-skill");
                                    $bbValiderPlanif.style.visibility = "visible";
                                    $inputValider.style.visibility = "hidden";
                                    $inputIgnorer.style.visibility = "hidden";
                                }else if(i === li_skill.length - 2) {

                                li_skill.get(i+1).classList.add("active");
                                let data_skill = li_skill.get(i+1).getAttribute("data-skill");
                                    $inputIgnorer.style.visibility = "hidden";
                                }else {

                                li_skill.get(i+1).classList.add("active");
                                let data_skill = li_skill.get(i+1).getAttribute("data-skill");
                                }
                                $inputskill.setAttribute("value", data_skill);

                                break
                            }
                        }
                    });
                }
            });
            $inputIgnorer.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                let dataSkill = $inputskill.getAttribute('value');
                let actor = null;
                let dateStart = null;
                let dateEnd = null;
                let timePrev = null;

                $.ajax({
                    url: "{{ path('set_plannification') }}",
                    method: "POST",
                    data: {
                        saledocumentlineid : $saledocumentlineid,
                        dataSkill : dataSkill ,
                        actor : actor ,
                        dateStart : dateStart ,
                        dateEnd : dateEnd ,
                        timePrev : timePrev ,
                        status : "ignorer"
                    }
                })
                    .done( function ( datas ) {
                        console.log($inputactor);
                        if($inputactor){
                            $inputactor.parentNode.removeChild($inputactor);
                        }
                        $inputTime.value = "--:--";
                        for(let i = 0; i < li_skill.length; i++){
                            if(li_skill.get(i).classList.contains("active")){
                                li_skill.get(i).classList.remove("active");
                                if(i === li_skill.length - 1){

                                li_skill.get(i).classList.add("active");
                                let data_skill = li_skill.get(i).getAttribute("data-skill");
                                    $bbValiderPlanif.style.visibility = "visible";
                                    $inputValider.style.visibility = "hidden";
                                    $inputIgnorer.style.visibility = "hidden";
                                }else if(i === li_skill.length - 2) {

                                li_skill.get(i+1).classList.add("active");
                                let data_skill = li_skill.get(i+1).getAttribute("data-skill");
                                    $inputIgnorer.style.visibility = "hidden";
                                }else {

                                li_skill.get(i+1).classList.add("active");
                                let data_skill = li_skill.get(i+1).getAttribute("data-skill");
                                }
                                $inputskill.setAttribute("value", data_skill);

                                break
                            }
                        }
                        console.log(datas);
                    });
            });
            $bb.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                let dataSkill = $inputskill.getAttribute('value');
                $.ajax({
                    url: "{{ app.request.getSchemeAndHttpHost() ~ path('get_actor') }}",
                    method: "GET",
                    data: {skill : dataSkill }
                }).done( function( datas ) {
                    data = JSON.parse(datas);
                    const $selectActor = document.createElement("SELECT");
                    $selectActor.setAttribute('name',"actor");
                    $selectActor.setAttribute('id',"actor");

                    for ( let i = 0; i < data.length; i++ ) {

                        let $opt = document.createElement("OPTION");
                        $opt.setAttribute('value',data[i].id);

                        let t = document.createTextNode(data[i].name);
                        $opt.appendChild(t);
                        $selectActor.appendChild($opt)
                    }
                    $actor.appendChild($selectActor);
                    $inputactor = document.querySelector("select[name='actor']");
                    // Create a <p> element
                });
            });
        })
    </script>
    <script>
        $(document).ready(function() {
            function startChange() {
                var startDate = start.value(),
                    endDate = end.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate());
                    end.min(startDate);
                } else if (endDate) {
                    start.max(new Date(endDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            function endChange() {
                var endDate = end.value(),
                    startDate = start.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate());
                    start.max(endDate);
                } else if (startDate) {
                    end.min(new Date(startDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            var today = kendo.date.today();

            var start = $("#start").kendoDateTimePicker({
                culture: "fr-FR",
                change: startChange,
                value: new Date(),
                format: "dd-MM-yyyy"
            }).data("kendoDateTimePicker");

            var end = $("#end").kendoDateTimePicker({
                culture: "fr-FR",
                value: new Date(),
                change: endChange,
                format: "dd-MM-yyyy"
            }).data("kendoDateTimePicker");

            // start.max(end.value());
            // end.min(start.value());
        });
    </script>
    <script>
    const aaaa = document.querySelector('.w3-button ');

    aaaa.addEventListener('click' , function (event) {
    event.preventDefault();

    })
    </script>

{% endblock %}