{% extends "base.html.twig" %}
{% block body %}
    <!--suppress ALL -->
    <section id="saisi-de-temps-details">
        <div class="planif-button-h2">
            <h2>saisie temps pour la :
                {{ art.documentnumber }}
            </h2>
            <input class="subm buttonn" type="button" id="button-8" value="Retour à la page précedente" onclick="history.go(-1)">
        </div>
        <form action="" method="post">
            <table>
                <thead> <!-- En-tête du tableau -->
                <tr>
                    <th class="ths">Réference article</th>
                    <th class="ths">Description article</th>
                    <th class="ths">Quantité</th>
                    <th class="ths">Action</th>
                    <th class="ths">Total temps</th>
                </tr>
                </thead>
                <tbody> <!-- Corps du tableau -->
                {% for detail in details %}
                    <tr class="trgrey">
                        <td class="tbodytd">{{ detail.item.id }}</td>
                        <td>{{ detail.description}}</td>
                        <td>{{ detail.quantity|number_format }}</td>
                        <td>
                            <a href="{{ path('saisie-temps-articles', {'id': detail.id}) }}">
                                <img class="edit-img" src="{{ asset('img/logo-edit.png') }}" alt="">
                            </a>
                        </td>
                        {% if detail.totalTime is not null %}
                            <td>{{ detail.totalTime|date('H:i') }}</td>
                            <input class="total" type="hidden" value="{{ detail.totalTime|date('H:i') }}" name="total{{ loop.index }}">
                        {% else %}
                            <td>Non-défini</td>
                        {% endif %}
                    </tr>
                {% endfor %}


                <tr class="tr-total">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% if art.totalTime is not null %}
                        <td>{{ art.totalTime|date('H:i') }}</td>
                    {% else %}
                        <td class="totalnondef">Non-défini</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>

            <span class="input__subm">
             <input id="table-submit" class="table-2-submit validetotal" type="submit">
            </span>

        </form>
    </section>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        const saleNumber = {{ details|length }};
        const $totalinput = document.querySelectorAll('.total');
        const $submit =  document.querySelector('.validetotal');
        const $totalnondef =  document.querySelector('.totalnondef');
        const $trtotal =  document.querySelector('.tr-total');

        if(saleNumber == $totalinput.length) {
            $submit.style.visibility = 'visible';
        }

        if(!$trtotal.contains($totalnondef)){
            $submit.style.visibility = 'hidden';
        }
    </script>

{% endblock %}