{% extends "base.html.twig" %}
{% block body %}
    <section id="saisi-de-temps-par-articles">
        <div class="details-button-h2">
            <h2>saisie temps par articles
                {#{{ art.documentnumber }}#}
            </h2>
            <form>
                <input class="button-page" type="button" value="Retour à la page précedente" onclick="history.go(-1)">
            </form>
        </div>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th>Réference article</th>
                <th>Description article</th>
                <th>Quantité</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            <tr class="trgrey">
                <td class="tbodytd">{{ saledocumentline.item.id}}</td>
                <td>{{ saledocumentline.description }}</td>
                <td>{{ saledocumentline.quantity }}</td>
            </tr>
            </tbody>
        </table>
        <form action="" method="post">
            <table class="table-2">
                <thead>
                <tr>
                    <th>Ateliers</th>
                    <td>Acteurs</td>
                    <th>Temps prévisionnel</th>
                    <th>Temps réalisé</th>
                </tr>
                </thead>
                <tbody>
                {% for task in subtask %}
                    <tr class="trgrey">
                        <td>{{ task.competences }}</td>
                        <td>{{ task.actor.snapshot[0].name }}</td>
                        <td>{{ task.timePlanif|date('H:i') }}</td>
                        <td id="td-time" data-id="{{ task.id }}" >
                            {% if task.timePrevis == null %}
                                <input id="input-time" class="input-time" data-id="{{ task.id }}" type="time">
                                <div style="color: red; cursor: pointer" id="button-time" data-id="{{ task.id }}">Valider</div>
                            {% else %}
                                {{ task.timePrevis|date("H:i") }}
                                <input id="input-timehidden" class="input-time" data-id="{{ task.id }}" type="hidden" value="{{ task.timePrevis|date("H:i") }}">
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}

                <tr class="trgrey">
                    <td>Total</td>
                    <td></td>
                    <td>A calculer</td>
                    {% if saledocumentline.totalTime is not null %}
                        <td><input id="totale" type="time"  disabled value="{{ saledocumentline.totalTime|date("H:i") }}" name="totale"></td>
                    {% else %}
                        <td id="td_total"><input id="total1" type="time"  disabled value="00:00" name="totale"></td>
                        <input id="total" type="hidden"  value="00:00" name="total">
                    {% endif %}
                </tr>
                </tbody>
            </table>

            <input id="table-submit" class="table-2-submit" type="submit">

        </form>
    </section>

{% endblock %}

    {% block javascripts %}

        <script type="text/javascript">

            $(function () {

                const $button       = document.querySelectorAll('#button-time');
                const $input_time   = document.querySelectorAll(".input-time");
                const $input_timehidden   = document.querySelectorAll("#input-timehidden");
                var   count_time    = $input_time.length;
                const $table_submit = document.querySelector("#table-submit");
                var   $inputTotal1  = document.querySelector("#total1");
                var   $inputTotal   = document.querySelector("#total");
                var $tdtime  = document.querySelectorAll("#td-time");



                for( let i = 0 ; i < $input_timehidden.length ; i++ ) {
                    let total      = $inputTotal1.value;
                    let data = 0;
                    d1  = new Date("2000-01-01T"+total+":00Z");
                    if ($tdtime[i].contains($input_timehidden[i])) {

                        data = $input_timehidden[i].value;
                        d  = new Date("2000-01-01T"+data+":00Z");
                        dh  = d.getHours();
                        dm  = d.getMinutes();
                        d1h = d1.getHours();
                        d1m = d1.getMinutes();
                        ds  = second(dh,dm);
                        ds1 = second(d1h,d1m);
                        ds  = ds + ds1;
                        dt  = temp(ds);
                        $inputTotal.value = dt;
                        $inputTotal1.value = dt;
                        count_time--;
                        if ( count_time === 0 ) {
                            $table_submit.style.visibility = "visible"
                        }
                    }
                }

                for( let i = 0 ; i < $button.length ; i++ ) {

                    $button[i].addEventListener('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();

                        let id         = this.getAttribute('data-id');
                        let $input     = document.querySelector("#input-time[data-id='"+id+"']");
                        let $td        = document.querySelector("#td-time[data-id='"+id+"']");
                        let $td_total  = document.querySelector("#td_total");
                        let time       = $input.value;
                        let total      = $inputTotal1.value;

                        $.ajax({
                            url: "/time-valid/"+id,
                            method: "POST",
                            data:"time="+time
                        }).done( function( datas ) {
                            d   = new Date("2000-01-01T"+datas+":00Z");
                            d1  = new Date("2000-01-01T"+total+":00Z");
                            dh  = d.getHours();
                            dm  = d.getMinutes();
                            d1h = d1.getHours();
                            d1m = d1.getMinutes();
                            ds  = second(dh,dm);
                            ds1 = second(d1h,d1m);
                            ds  = ds + ds1;
                            dt  = temp(ds);
                            $td.innerHTML= datas;
                            $inputTotal.value = dt;
                            $inputTotal1.value = dt;
                            count_time--;
                            if ( count_time === 0 ) {
                                $table_submit.style.visibility = "visible"
                            }
                        });
                    })
                }

                $inputTotal1.addEventListener('change', function () {

                    if ( count_time === 0 ) {
                        $table_submit.style.visibility = "visible"
                    }
                });

                $inputTotal.addEventListener('change', function () {

                    if ( count_time === 0 ) {
                        $table_submit.style.visibility = "visible"
                    }
                });

                if ( count_time === 0 ) {
                    $table_submit.style.visibility = "visible"
                }

                function second(hour, minutes) {

                    hour = parseInt(hour);
                    minutes = parseInt(minutes);
                    let seconde = null;
                    return seconde = (hour * 3600)+(minutes * 60);
                }

                function temp(second) {

                    var seconds = parseInt(second); // don't forget the second param
                    var hours   = Math.floor(seconds / 3600);
                    var minutes = Math.floor((seconds - (hours * 3600)) / 60);
                    var seconds = seconds - (hours * 3600) - (minutes * 60);
                    hours -= 2;
                    if (hours   < 10) {hours   = "0"+(hours)}
                    if (minutes < 10) {minutes = "0"+minutes;}
                    // if (seconds < 10) {seconds = "0"+seconds;}
                    var time    = hours+':'+minutes;
                    return time;
                }
            })

        </script>

    {% endblock %}
