{% extends "base.html.twig" %}
{% set total = 0 %}
{% block body %}
    <section id="saisi-de-temps-par-articles">
        <div class="planif-button-h2">
            <h2>saisie temps par articles</h2>
            <input class="subm buttonn" type="button" id="button-8" value="Retour à la page précedente" onclick="history.go(-1)">
        </div>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th class="ths">Réference article</th>
                <th class="ths">Description article</th>
                <th class="ths">Quantité</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            <tr class="trgrey">
                <td class="tbodytd">{{ saledocumentline.item.id}}</td>
                <td>{{ saledocumentline.description }}</td>
                <td>{{ saledocumentline.quantity }}</td>
            </tr>
            </tbody>
        </table>
        <form action="" method="post">
            <table class="table-2">
                <thead>
                <tr>
                    <th class="ths">Ateliers</th>
                    <th class="ths">Acteurs</th>
                    <th class="ths">Temps prévisionnel</th>
                    <th class="ths">Temps réalisé</th>
                </tr>
                </thead>
                <tbody>
                {% for task in subtask %}
                    <tr class="trgrey">
                        <td>{{ task.competences }}</td>
                        <td>{{ task.actor.snapshot[0].name }}</td>
                        <td>{{ task.timePlanif|date('H:i') }}</td>
                        <td id="td-time" data-id="{{ task.id }}" >
                            {% if task.timePrevis == null %}
                                <input id="input-time" class="input-time" data-id="{{ task.id }}" type="time" title="">
                                <div style="color: red; cursor: pointer" id="button-time" data-id="{{ task.id }}">Valider</div>
                            {% else %}
                                {{ task.timePrevis|date("H:i") }}
                                <input id="input-timehidden" class="input-time" data-id="{{ task.id }}" type="hidden" value="{{ task.timePrevis|date("H:i") }}">
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}

                <tr class="trgrey">
                    <td>Total</td>
                    <td></td>
                    <td>{{ totalPrev }}</td>
                    {% if saledocumentline.totalTime is not null and (saledocumentline.totalTime|date("H:i")) != "00:00" %}
                            <td>{{ saledocumentline.totalTime|date("H:i") }}</td>
                    {% else %}
                        <td id="td_total"><input id="total1" type="time"  disabled value="00:00" name="totale" title=""></td>
                        <input id="total" type="hidden"  value="00:00" name="total">
                    {% endif %}
                </tr>
                </tbody>
            </table>


            <div class="input__valid-final">

            <input id="button-8" class="table-2-submit subm buttonn" type="submit" value="Valider">
            </div>

        </form>
    </section>

{% endblock %}

    {% block javascripts %}

        <script type="text/javascript">

            $(function () {

                const $button       = document.querySelectorAll('#button-time');
                const $input_time   = document.querySelectorAll(".input-time");
                const $input_timehidden   = document.querySelectorAll("#input-timehidden");
                var   count_time    = $input_time.length;
                const $table_submit = document.querySelector(".table-2-submit");
                var   $inputTotal1  = document.querySelector("#total1");
                var   $inputTotal   = document.querySelector("#total");
                var $tdtime  = document.querySelectorAll("#td-time");



                for( let i = 0 ; i < $input_timehidden.length ; i++ ) {
                    let total      = $inputTotal1.value;
                    let data = 0;
                    d1  = new Date("2000-01-01T"+total+":00Z");

                    for( let j = 0 ; j < $tdtime.length ; j++ ) {

                        if ($tdtime[j].contains($input_timehidden[i])) {
                            console.log($input_timehidden[i]);
                            console.log($tdtime[j].contains($input_timehidden[i]));
                            data = $input_timehidden[i].value;
                            console.log(data);
                            d = new Date("2000-01-01T" + data + ":00Z");
                            dh = d.getHours();
                            dm = d.getMinutes();
                            d1h = d1.getHours();
                            d1m = d1.getMinutes();
                            ds = second(dh, dm);
                            ds1 = second(d1h, d1m);
                            console.log(ds);
                            console.log(ds1);
                            dt = temp(ds1);
                            ds = ds + ds1;
                            dt = temp(ds);
                            console.log(dt);
                            $inputTotal.value = dt;
                            $inputTotal1.value = dt;
                            console.log($inputTotal.value);
                            count_time--;
                            if (count_time === 0) {
                                $table_submit.style.visibility = "visible"
                            }
                        }
                    }
                }

                for( let i = 0 ; i < $button.length ; i++ ) {

                    $button[i].addEventListener('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();

                        let id         = this.getAttribute('data-id');
                        let $input     = document.querySelector("#input-time[data-id='"+id+"']");
                        let $td        = document.querySelector("#td-time[data-id='"+id+"']");
                        let $td_total  = document.querySelector("#td_total");
                        let time       = $input.value;
                        let total      = $inputTotal1.value;

                        console.log(id);
                        $.ajax({
                            url: "/time-valid/"+id,
                            method: "POST",
                            data:"time="+time
                        }).done( function( datas ) {
                            d   = new Date("2000-01-01T"+datas+":00Z");
                            d1  = new Date("2000-01-01T"+total+":00Z");
                            dh  = d.getHours();
                            dm  = d.getMinutes();
                            d1h = d1.getHours();
                            d1m = d1.getMinutes();
                            ds  = second(dh,dm);
                            ds1 = second(d1h,d1m);
                            ds  = ds + ds1;
                            dt  = temp(ds);
                            $td.innerHTML= datas;
                            $inputTotal.value = dt;
                            $inputTotal1.value = dt;
                            count_time--;
                            if ( count_time === 0 ) {
                                $table_submit.style.visibility = "visible"
                            }
                        });
                    })
                }

                $inputTotal1.addEventListener('change', function () {

                    if ( count_time === 0 ) {
                        $table_submit.style.visibility = "visible"
                    }
                });

                $inputTotal.addEventListener('change', function () {

                    if ( count_time === 0 ) {
                        $table_submit.style.visibility = "visible"
                    }
                });

                if ( count_time === 0 ) {
                    $table_submit.style.visibility = "visible"
                }

                function second(hour, minutes) {

                    hour = parseInt(hour);
                    minutes = parseInt(minutes);
                    let seconde = null;
                    return seconde = (hour * 3600)+(minutes * 60);
                }

                function temp(second) {

                    var seconds = parseInt(second); // don't forget the second param
                    var hours   = Math.floor(seconds / 3600);
                    var minutes = Math.floor((seconds - (hours * 3600)) / 60);
                    var seconds = seconds - (hours * 3600) - (minutes * 60);
                    console.log(hours);
                    // hours -= 2;
                    console.log(hours);
                    if (hours   < 10) {hours   = "0"+(hours)}
                    if (minutes < 10) {minutes = "0"+minutes;}
                    // if (seconds < 10) {seconds = "0"+seconds;}
                    var time    = hours+':'+minutes;
                    return time;
                }
            })

        </script>

    {% endblock %}
