{% extends "base.html.twig" %}
{% block body %}
    <main id="saisi-de-temps">
        <div class="planif-button-h2">
            <h2>saisie des temps</h2>
        </div>
        <div class="navigation nav-pag">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th class="ths">Commande (n°CAT)</th>
                <th class="ths">Client</th>
                <th class="ths">Statut</th>
                <th class="ths">Date validée</th>
                <th class="ths">CAT terminée</th>
                <th class="ths">Total du temps prévisionnel</th>
                <th class="ths">Total du temps réel</th>
                <th class="ths">Saisie des temps</th>
            </tr>
            </thead>
            <tbody> <!-- Corps du tableau -->
            {% for saisi in pagination %}
                <tr class="trgrey">
                    <td>
                        {{ saisi.documentNumber }}
                    </td>
                    <td >
                        {{ saisi.customerName }}
                    </td>
                    <td>{{ saisi.status }}</td>
                    <td id="dateEndFab" data-id = "{{ saisi.documentNumber }}">
                        {% if saisi.documentEndDateFabric is not null %}
                            {{ saisi.documentEndDateFabric|date('d/m/y') }}
                        {% else %}
                            Non-défini
                        {% endif %}
                    </td>
                    <td id="catEnd" data-id = "{{ saisi.documentNumber }}">
                        {% if saisi.catEnd %}
                            &#10004
                        {% else %}
                            <input type="checkbox" class="cat-enf" data-id = "{{ saisi.documentNumber }}" title="">
                        {% endif %}
                    </td>
                    {% if saisi.totalPrev is not null %}
                        <td>{{ saisi.totalPrev|date('H:i') }}</td>
                    {% else %}
                        <td class="totalnondef">Non-défini</td>
                    {% endif %}
                    {% if saisi.totalTime is not null %}
                        <td>{{ saisi.totalTime|date('H:i') }}</td>
                    {% else %}
                        <td class="totalnondef">Non-défini</td>
                    {% endif %}

                    <td class="saisi-totaltime" data-id = "{{ saisi.documentNumber }}" data-saisi-totaltime = {% if saisi.totalTime == null %}0{% else %}1{% endif %}
                    >
                        {% if saisi.totalTime == null %}
                            {% if saisi.status == 'Planifié' %}
                                <a href="{{ path('saisie-temps-detail', {'id': saisi.id}) }}">
                                    {#<input class="subm buttonn" type="submit" id="button-8" value="Valider la planification">#}
                                    Saisir temps
                                </a>
                            {% else %}
                                <p onclick="timeClick()">Saisir temps</p>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('saisie-temps-detail', {'id': saisi.id}) }}" style="background: #00e765; font-size: 10px">
                                Temps enregistrées
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation nav-pag">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(function () {

            const $catEnd = document.querySelectorAll('.cat-enf');

            for (let i = 0; i < $catEnd.length; i++) {

                $catEnd[i].addEventListener('click', function () {
                    let data_id = this.getAttribute('data-id');
                    let $saisi_totaltime = document.querySelector(".saisi-totaltime[data-id='" + data_id + "']");
                    const $catEnd = document.querySelector("#catEnd[data-id='" + data_id + "']");
                    const $dateEndFab = document.querySelector("#dateEndFab[data-id='" + data_id + "']");

                    console.log($saisi_totaltime);
                    if (this.checked) {
                        if (parseInt($saisi_totaltime.getAttribute('data-saisi-totaltime'))) {
                            let $this = this;
                            swal({
                                title: "Voulez-vous valider votre CAT ?",
                                text: "En validant vous ne pourrez revenir en arrière !",
                                icon: "warning",
                                dangerMode: true,
                                buttons: ["Annuler", true],


                            })
                                .then((add) => {
                                    if (add != null) {
                                        confirme = add;
                                    }
                                    if (add) {
                                        this.checked = true;
                                        $.ajax({
                                            url:"{{ path('ajax_date end fabric') }}",
                                            method:'POST',
                                            data:{id: data_id}
                                        })
                                            .done(function (result) {
                                                swal("Votre CAT a bien été validée", {
                                                    icon: "success",
                                                    // buttons: ["Annuler", true],
                                                }).then((add) => {
                                                    // const $atEnd = document.querySelector("#catEnd[data-id='" + data_id + "']");
                                                    $($catEnd).html("&#10004");
                                                    $($dateEndFab).html(result);
                                                });
                                                // const $atEnd = document.querySelector("#catEnd[data-id='" + data_id + "']");
                                                console.log(result);
                                            })
                                    } else {
                                        swal({
                                            position: "top",
                                            icon: "error",
                                            title: "L'enregistrement a été annulé"
                                        });
                                        this.checked = false
                                    }
                                });

                        } else {
                            swal({
                                icon: "info",
                                title : "La saisie des temps n'est pas complète",

                            });
                            this.checked = false

                        }
                    }
                })
            }
        });
        
        function timeClick() {
            swal({
                title: "La CAT doit avoir le statut 'Planifié' pour pouvoir accéder à la saisie des temps",
                icon: "warning",
                button: true,
                dangerMode: true,
            })
        }

    </script>
{% endblock %}

