{% extends "base.html.twig" %}
{% block body %}

    {% if error %}
        <div class="invalid">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <main id="main">
        <!--<h1>Connectez-vous</h1>-->
        {{ form_start(form) }}
        <div class="group">
            {{ form_widget(form.username) }}
            <span class="highlight"></span>
            <span class="bar"></span>
            {{ form_label(form.username) }}
        </div>
        <div class="group">
            {{ form_widget(form.password) }}
            <span class="highlight"></span>
            <span class="bar"></span>
            {{ form_label(form.password) }}
        </div>
        <div>
            <button type="submit" data-wipe="GO GO GO GO GO GO !!!">Connecte toi maintenant</button>
        </div>
        {{ form_end(form) }}
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/password.js') }}"></script>
{% endblock %}